<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>

<footer id="footer">
    Powered BLITZ
    <a href="https://github.com/portuna85/blitz" target="_blank" class="bi bi-github"></a>
    <i class="bi bi-reception-4"></i>
    <i class="bi bi-envelope-fill"> portuna85@gmail.com</i>
</footer>
</body>
</html>